body {
	text-align: center;
	color: #333;
	font-family: 'Arial';
	font-size: 16px;
	margin: 0;
	padding: 0;
}

.container {
	width: 70%;
	padding: 0;
	text-align: left;
	border: 1px solid #ddd;
	margin: 0 auto;
}

.container h1 {
	font-size: 20px;
}

.cabecera {
	display: flex;
	justify-content: space-between;
	color: #000;
	font-weight: bold;
	margin: 0;
	padding: 1rem;
	font-size: 18px;
	border-bottom: 1px solid rgb(192, 192, 192);
}

.icons span {
	padding-left: 12px;
	cursor: pointer;
}

.icons span:hover {
	color: rgb(232, 189, 0);
}

.tect {
	color: #fff;
	padding: 1em;
}

.post {
	padding: 1em;
}
