body {
	text-align: center;
	color: #333;
	font-family: 'Arial';
	font-size: 16px;
	margin: 0;
	padding: 0;
}

.container {
	width: 70%;
	padding: 0;
	text-align: left;
	border: 1px solid #ddd;
	margin: 0 auto;
}

.container h1 {
	font-size: 20px;
	text-align: center;
	background: rgb(8, 193, 255);
	font-weight: bold;
	padding: 0.5em;
}

.cabecera {
	display: flex;
	justify-content: space-between;
	background: ;
	color: #000;
	font-weight: bold;
	margin: 0;
	padding: 1rem;
	font-size: 18px;
	border-bottom: 1px solid rgb(192, 192, 192);
	/* box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3); */
}

.icons span {
	padding-left: 12px;
	cursor: pointer;
}

.icons span:hover {
	color: rgb(232, 189, 0);
}

.tect {
	color: #fff;
	padding: 1em;
}

.post {
	padding: 1em;
}

.footer-post footer {
	display: flex;
	justify-content: end;
	padding: 10px;
	border-top: 1px solid rgb(194, 194, 194);
	font-family: monospace;
}
